# Ignorar carpetas del IDE y archivos generados

/Java/Clase 1/CicloWhile/nbproject/private/
/Java/Clase 1/CicloWhile/build/
/Java/Clase 1/Break-Continue/nbproject/private/

# Ignorar archivos generados por la compilacion
*.class

# Ignorar otros archivos temporales
*.log

/Java/Clase 2/EjercicioCiclos01/nbproject/private/
/Java/Clase 2/EjercicioCiclos01/build/
/Java/Clase 2/EjercicioCiclos02/nbproject/private/
/Java/Clase 2/EjercicioCiclos02/build/
/Java/Clase 2/LeccionClasesObjetos/nbproject/private/
/Java/Clase 3/EjerciciCiclos03/nbproject/private/
/Java/Clase 3/EjerciciosCiclos3/nbproject/private/
/Java/Clase 3/EjerciciosCiclos03/nbproject/private/
/Java/Clase 3/EjerciciosCiclos03/build/
/Java/Clase 3/EjercicioCiclos04/nbproject/private/
/Java/Clase 3/EjercicioCiclos04/build/
/Java/Clase 3/EjercicioCiclos05/nbproject/private/
/Java/Clase 3/EjercicioCiclos05/build/
